<% include partials/header %>

<h1>This is the Home page!</h1>
<img src="https://animalso.com/wp-content/uploads/2018/04/30078886_20846341998478331_3330223822052786176_n-809x1011.jpg">

<%include partials/footer %>